/* style.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: greenyellow;
    color: #333;
}

header {
    background-color: #6200ea;
    color: white;
    padding: 1rem;
    text-align: center;
}

h2 {
    color: #6200ea;
}

button {
    padding: 0.5rem 1rem;
    margin: 0.5rem;
    cursor: pointer;
    border: none;
    border-radius: 10px;
}

#error-message {
    color: red;
    font-size: 0.8rem;
}

#hover-box {
    width: 200px;
    height: 100px;
    background-color: #ddd;
    margin: 0.5rem;
}

#event-handling {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#interactive-elements {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
}
#form-validation {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
}
